body {
    /* background-color: #121212; */
    padding: 0;
    margin: 0;
    font-family: Verdana;
    height: 100%;
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
    font-family: Verdana;
    color: rgb(0, 0, 0);
}
header{
    display: inline-block;
}
.navBar{
    display: flex;
    margin: 0;
    padding: 0;
    /* border: 2px dashed #f69c55; */
 }

.logoDiv{
    margin-top: 30px;
    margin-left: 50px;
    padding: 0;
}
.logoDiv img{
    padding: 0;
    border-radius: 50px;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 9px;
}

.logoDiv img:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 17px;
}
.navUl{
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 40px;
    margin-top: 40px;

}
.navUl li{
    justify-content: space-between;
    list-style-type: none;
    margin-left: 0;
    /* padding: 10px; */
    margin: 15px;
    /* border: 2px dashed #f69c55; */
    position: relative;
    white-space: nowrap;

}
.navBarElement{
    padding: 3px;
    color:#444;
    transition: all ease-in-out 250ms;
    text-transform: uppercase;
    white-space: nowrap;
    
}
.active, .navBarElement:hover{
    background-color: rgba(95, 95, 95, 0.137);
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 17px; */
    border-radius: 10px;
    color:#000;
}

.navBarElement::before{
content: '';
display: block;
height: 5px;
background-color: #202020c2;
position: absolute;
top: 80%;
left:5%;
width: 0%;

transition: all ease-in-out 250ms;
}
.active::before, .navBarElement:hover::before{
    width: 90%;
}


a{
    list-style-type: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    /* background-color: aqua; */
}

section{
    flex: 1 0 auto;
    text-align: center;
    font-family: Sans-serif;
    color: rgb(0, 0, 0);
    margin-bottom: 50px;
}

footer{
    padding: 0 0 0 0;
    flex-shrink: 0;

}


#UCM_Seal{
height: 110px;
margin-right: 9px;
margin-left: -60px;
}

#UCM_Logo{
    height: 80px;
    margin-bottom: 13px;
    }

.homepageImage{
    margin-left: 35px;
    border-radius: 50px;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 9px;
}

.introDiv{

}

.introText{
 font-family: Verdana;
 font-size: 28px;
}

.projectContainer{
    margin-top: 30px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.projectImage{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.projectImage img {
    height: 600px;
    border-radius: 10px;
    padding: 5px;
    margin: 0 0 0 0;
    transition: 180ms transform ease-in-out;

}

.projectImage img:hover {
    transform: scale(1.025);

}
.projectTitle{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-weight: bold;
    text-decoration: none;

}
.projectText{
    margin: 0 0 0 0;
    padding: 7px;
    width: 40%;    
    text-align: left;
    text-indent: 35px;
    line-height: 1.2;
    /* letter-spacing: 1px; */
    font-family: Verdana;
    overflow-y: auto;
    height: 100px;
    background-color: #f8f8f8;  
    border-radius: 10px;  

}

.projectText::-webkit-scrollbar{
    width: 5px;
}
.projectText::-webkit-scrollbar-track{
    width: 5px;
    height: 8px;
    background-color: #aaa;    
}

.projectText::-webkit-scrollbar-thumb{
    background: #000;
}

.PCBuildContainer{
    margin: 30 0 0 0;
    padding: 0 0 0 0;

}

.PCBuildContent{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    overflow-y: hidden;
    
}

.PCBuildImages{
    padding: 4px;
    margin-left: 1rem;
    border-radius: 10px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 9px;
    transition: 180ms transform ease-in-out;
    aspect-ratio: 9/12;
    object-fit: cover;
}

.PCBuildImages:hover{
    transform: scale(1.025);
}

.PCBuildContentText{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
}

.snapInline{
scroll-snap-type: inline mandatory;
scroll-padding-inline: .5rem;
}

.snapInline > * {
    scroll-snap-align: start;
}

p{
    margin: 20 0 10 0;
    padding:0 0 0 0;
}

.links{
    color:blue;
    text-decoration: underline;
}


video source{
    margin: 100 20 10 10;
}

footer{
    margin: 20 0 0 0;
    padding: 30 0 21 0;

    background-color: rgb(229, 229, 229);
}

.footerDiv{
    display: flex;
    flex-direction: row;
    padding: 0 0 0 0;
    margin: 0 60 0 0;
    justify-content: right;

}
.footerDiv a{
    padding: 0 0 0 0;
    margin: 0 0 0 25;
}
#footerSocialIcon{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    height: 32px;
    /* background-color: rgb(255, 255, 255); */
    border-radius: 1px;
}

#footerSocialIcon:hover{
    cursor: pointer;
}

.footerText{
    font-family: Verdana;
    font-weight: bold;
    font-size: 12px;
    margin: 14 8 0 0;
}

